
obj/Debug/Copier.csproj.CoreCompileInputs.cache
bin/Debug/MSK Copier.exe
bin/Debug/MSK Copier.exe.config
bin/Debug/MSK Copier.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MSK Copier.csproj.CoreCompileInputs.cache
obj/Debug/MSK Copier.csproj.FileListAbsolute.txt
obj/Debug/MSK Copier.csproj.GenerateResource.cache
obj/Debug/MSK Copier.csprojAssemblyReference.cache
obj/Debug/MSK Copier.exe
obj/Debug/MSK Copier.pdb
obj/Debug/MSK_Copier.Form1.resources
obj/Debug/MSK_Copier.Properties.Resources.resources
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Copier.csproj.FileListAbsolute.txt
obj/Debug/Copier.csproj.GenerateResource.Cache
obj/Debug/Copier.csprojResolveAssemblyReference.cache
obj/Debug/Copier.Form1.resources
obj/Debug/Copier.Message.resources
obj/Debug/Copier.Properties.Resources.resources
.vs/Copier/v15/.suo
bin/Debug/Copier.pdb
bin/Debug/Copier.exe.config
bin/Debug/Copier.exe
obj/Debug/Copier.exe
obj/Debug/Copier.pdb
